.bg__container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: white;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  height: 50%;
  width: 900px;
  display: flex;
  flex-direction: row-reverse;
}

.modal__container img {
  transition: opacity 0.8s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__exit-icon {
  color: rgba(150, 125, 125, 0.892);
  font-size: 2.3em;
  position: absolute;
}
