.bg__container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  background: #0088a9;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  height: 50%;
  width: 900px;
  display: flex;
  flex-direction: row-reverse;
}

.modal__container img {
  transition: opacity 0.8s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__exit-icon {
  color: rgb(77, 6, 6);
  font-size: 2.3em;
  font-weight: 700;
  position: absolute;
}

.about__exit-icon:hover {
  color: black;
  transform: scale(1.2);
}
